{# src/AppBundle/Resources/views/Form/Exception.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="alert alert-danger text-center" role="alert">
        <h5>{{ message }}</h5>
    </div>

    <button id="backbutton" type="button" class="center-block btn btn-lg btn-danger">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{ 'action.back'|trans }}
    </button>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function(){
            $('#backbutton').click(function(){
                parent.history.back();
                return false;
            });
        });

    </script>

{% endblock %}
