{# src/AppBundle/Resources/views/Post/list.html.twig #}
{% for post in posts %}

    <div class="list-group">
      <a href="{{ path('show_post', {'post': post.id, 'title': post.postTitle }) }}" class="list-group-item">
        <h1>{{ post.postTitle }}</h1>
        <br/>
        <p class="list-group-item-text">{{ post.postDescription|raw }}</p>
        <br/>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="color:blue"></span>&nbsp;{{ post.postCreationDate|date("d/m/Y") }}&nbsp;
        <span class="glyphicon glyphicon-tags" aria-hidden="true" style="color:red"></span>&nbsp;
            {% for item in post.tags %}
                [{{ item.tagName }}]
            {% endfor %}
            &nbsp;   
         {% if post.comments|length != 0 %}
             <span class="glyphicon glyphicon-comment" aria-hidden="true" style="color:green"></span>&nbsp;{{ post.comments|length }}&nbsp;
         {% endif %}
      </a>
    </div>
{% endfor %}
